---
http_interactions:
- request:
    method: post
    uri: https://api.flickr.com/services/rest/
    body:
      encoding: US-ASCII
      string: tags=kjasbdib823&sort=interestingness-desc&per_page=1&method=flickr.photos.search&format=json&nojsoncallback=1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photos":{"page":1,"pages":0,"perpage":1,"total":"0","photo":[]},"stat":"ok"}'
  recorded_at: Sun, 05 Mar 2017 12:02:59 GMT
recorded_with: VCR 2.9.2
